<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Weather you like it</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="rzslider.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!--    <script src="angular-sanitize.js"></script>-->
</head>
<body ng-app="demo">
<!--<div ng-controller="Hello">
    <p>The ID is {{greeting.id}}</p>
    <p>The content is {{greeting.content}}</p>
</div>-->
<div class="headerLogo"><a href="" onclick="window.location.reload(true);">
    <img class="img-responsive" src="logo.png" alt="Weather You Like It"></a></div>
<div class="headerText"><h1>"Find flights to the weather you like for a price that you love."</h1></div>
<div ng-controller="search">
    <div class="search">

        <form ng-submit="sendToBackEnd()">
            <div class="searchTable item">
                <div class="searchOrigin item"><input type="text" ng-model="data.origin" name="origin"
                                                      class="form-control"
                                                      placeholder="Origin" id="origin" autocomplete="off" autofocus/>
                </div>
                <div class="searchMaxPrice item">
                    <input type="number" step=100 min=0 ng-model="data.priceMax" name="priceMax"
                           class="form-control" id="priceMax" placeholder="Max price"/>

                </div>
                <div class="searchStartDate item">
                    <input type="date" ng-model="data.startDateTime" id="fromdate" name="fromdate"
                           class="form-control"/>
                </div>
                <div class="searchEndDate item">
                    <input type="date" ng-model="data.endDateTime" id="todate" name="todate" class="form-control"/>
                </div>
                <div class="searchAdults item">
                    <select name="adults" ng-model="data.noadults" class="form-control" name="noadults" id="adults">
                        <option value="" disabled selected>Adults</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select></div>
                <div class="searchChildren item">
                    <select name="children" ng-model="data.nochildren" class="form-control" name="nochildren"
                            id="children" disabled>
                        <option value="" disabled selected>Children</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select></div>

                <div class="searchDirectFlight item">
                    <label id="direct"><input type="checkbox" class="checkbox-inline" value="directflight"
                                              disabled/>
                        Direct flights</label></div>
                <div class="searchRoundTrip item">
                    <label id="round"><input type="checkbox" class="checkbox-inline" id="roundtrip"
                                             checked disabled/>
                        Round Trip</label>
                </div>

                <div class="searchTemperatureRange item">
                    <h1>
                        <span class="rangeValues" id="temperature"></span>
                        <rzslider
                                rz-slider-model="slider.min"
                                rz-slider-high="slider.max"
                                rz-slider-options="slider.options"></rzslider>
                    </h1>
                </div>
                <div class="searchNoRain item"><label><input type="checkbox" class="checkbox-inline" id="noRain"
                                                             checked disabled/>
                    No rain</label></div>

                <div class="searchSunSafe item"><label><input type="checkbox" class="checkbox-inline"
                                                              id="SunSafe"
                                                              disabled/>
                    Lots of sun</label>

                </div>

                <div class="searchSubmit item">
                    <input type="submit" class="form-control"
                           id="searchBtn" value="Search" onclick="smoothScroll(document.getElementById('scroll'))">
                </div>
                <div class="searchClear item"><input type="reset" class="form-control" id="clearBtn" value="Clear">
                </div>
            </div>
        </form>
    </div>
    <div ng-class="loader"></div>
    <div id="textloop"></div>
    <div class="waveone"></div>
    <div class="results" id="scroll">
        <div ng-bind-html="myHTML"></div>
    </div>
</div>
<div class="wavetwo"></div>
<div class="about">
    <h1>How it works</h1>

    <div class="aboutTable">
        <div class="aboutOne item"><h1>1</h1>Fill out the form with the regular travel search engine stuff
            such as origin, travel dates and max price. You know the drill. But hey... Isn't one of the regular input
            fields missing?
        </div>
        <div class="aboutTwo item"><h1>2</h1>Yeah, you're right! No destination! Instead, let us find new, exciting and
            cheap travels to places with a weather exactly how you like it. Choose temperature, amount of rain
            (who likes rain?) and so on.

        </div>
        <div class="aboutThree item"><h1>Awesome!</h1>Our advanced algorithm now looks at historical weather data
            in the
            whole world. We look at thing such as average temperatures, precipitation and hours of sun per day. And of
            course, the cheapest flights availiable.
        </div>

    </div>
</div>
<div class="wavethree"></div>
<div class="footer">
    <div class="col"><a href="https://www.facebook.com"><img src="facebook.png" alt="Visit our Facebook"
                                                             class="img-footer"></a>
        <a href="https://www.instagram.com"><img src="instagram.png" alt="Visit our Instagram" class="img-footer"></a>
        <a href="mailto:info@weatheryoulikeit.com"><img src="mail.png" alt="Send a mail" class="img-footer"></a>
    </div>
    <div class="col"><a href="mailto:info@weatheryoulikeit.com">info@weatheryoulikeit.com</a></div>
    <div class="col">
        © Weather You Like It 2017 -
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
<script src="rzslider.min.js"></script>
<script src="app.js"></script>
</body>
</html>