body {
    background: #33afcc;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #fff;
}

div.footer a {
    text-decoration: none;
    color: #02778b;
}

div.footer a:hover {
    text-decoration: underline;
    color: #02778b;
}

#searchBtn {
    color: #fff;
    background: #028EA7;
    display: inline-block;
    text-indent: 0;
}

.btn {
    color: #fff;
    background: #028EA7;
    display: inline-block;
    border: 1px solid #fff;
}

.btn:hover {
    background: #02778B;
    cursor: pointer;
    border: 1px solid #fff;
}

#searchBtn:hover {
    background: #02778B;
    cursor: pointer;
}

#clearBtn {
    color: #fff;
    background: #99D7E6;
    display: inline-block;
    text-indent: 0;
}

#clearBtn:hover {
    background: #028EA7;
    cursor: pointer;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    line-height: 46px;
    font-size: 46px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-responsive {
    max-width: 100%;
    padding: 40px;
}

.img-footer {
    background: none;
    max-width: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img-footer:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.headerLogo {
    text-align: center;
}

.headerText {
    text-align: center;
}

.search {
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
    position: relative;
}

.searchTable {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    align-self: stretch;
}

.searchTable .item {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.searchOrigin {
    flex: 0 0 50%;
    padding-left: 3%;
}

.searchMaxPrice {
    flex: 0 0 50%;
}

.searchStartDate {
    flex: 0 0 50%;
}

.searchEndDate {
    flex: 0 0 50%;
}

.searchDirectFlight {
    flex: 0 0 50%;
}

.searchRoundTrip {
    flex: 0 0 50%;
}

.searchAdults {
    flex: 0 0 50%;
}

.searchChildren {
    flex: 0 0 50%;
}

.searchTemperatureRange {
    flex: 0 0 100%;
}

.searchNoRain {
    flex: 0 0 50%;
}

/*.searchSnow {*/
/*flex: 0 0 33%;*/
/*}*/

.searchSunSafe {
    flex: 0 0 50%;
}

.searchSubmit {
    flex: 0 0 50%;
}

.searchClear {
    flex: 0 0 50%;
}

.about {
    background: #02778b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.results {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #028ea7;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
}

.resultCity {
    flex: 0 0 100%;
    display: flex;
    order: 1;
    border: 1px solid #028ea7;
    display: flex;
    border-radius: 5px;
    background: #33afcc;
    padding: 10px;
    align-items: center;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 40px;
}

.resultDurationTo {
    order: 2;
}

.resultDurationFrom {
    order: 3;
}

.resultTempToday {
    order: 4;
}

.resultTemp {
    order: 7;
}

.resultRain {
    order: 6;
}

.resultSunHours {
    order: 5;
}

.resultPrice {
    order: 8;
}

.resultBuy {
    order: 9;
    justify-content: center;
}

.resultTable {
    display: flex;
    /* or inline-flex */

    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    border-top: 20px solid #028ea7;
}

.resultTable .item {
    flex: 1 1 33%;
    border: 1px solid #028ea7;
    display: flex;
    border-radius: 5px;
    background: #33afcc;
    padding: 10px;
    align-items: center;
}

.resultTable img {
    margin-left: auto;
}

.changeSearch {
    margin-top: 20px;
    background: #028ea7;
}

.footer {
    background: #ffe067;
    color: #02778b;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: .7vw;
}

/*Styling to wave divs*/

.waveone {
    height: 50px;
    position: relative;
}

.waveone::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #028ea7 13px);
}

.waveone::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #028ea7 12px, transparent 13px);
}

.wavetwo {
    height: 50px;
    position: relative;
    background: #028ea7;
}

.wavetwo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #02778b 13px);
}

.wavetwo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #02778b 12px, transparent 13px);
}

.wavetwo {
    height: 50px;
    position: relative;
    background: #028ea7;
}

.wavetwo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #02778b 13px);
}

.wavetwo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #02778b 12px, transparent 13px);
}

.wavethree {
    height: 50px;
    position: relative;
    background: #02778b;
}

.wavethree::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #ffe067 13px);
}

.wavethree::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #ffe067 12px, transparent 13px);
}

/*Styling to range slider*/

.rangeValues {
    width: 100%;
}

.range {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.aboutTable {
    display: flex;
}

.aboutOne {
    flex: 0 0 33%;
}

.aboutTwo {
    flex: 0 0 33%;
    padding-left: 15px;
    padding-right: 15px;
}

.aboutThree {
    flex: 0 0 33%;
}

.aboutTable h1 {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 15px;
    }

    .headerLogo {
        padding-left: 5%;
        padding-right: 5%;
    }

    .headerText {
        display: none;
    }

    .search {
        padding-left: 5%;
        padding-right: 5%;
    }

    .results {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }

    .aboutTable {
        display: flex;
        /* or inline-flex */

        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    .about {
        padding-left: 5%;
        padding-right: 5%;
    }

    .aboutTable .item {
        flex: 0 0 100%;
        padding: 5px;
        text-align: center;
    }

    .footer {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    .calendar {
        display: inline-block;
    }

    .results {
        background: #028ea7;
        padding-left: 5%;
        padding-right: 5%;
    }

    .resultTable img {
        max-width: 20px;
    }

    .resultCity {
        flex: 0 0 100%;
        display: flex;
        order: 1;
        border: 1px solid #028ea7;
        display: flex;
        border-radius: 5px;
        background: #33afcc;
        padding: 10px;
        align-items: center;
        font-family: "Amatic SC", cursive;
        font-weight: 700;
        font-size: 25px;
        margin-center: auto;
    }

    .resultPrice {
        order: 5;
    }

    .resultTemp {
        order: 3;
    }

    .resultTempToday {
        order: 2;
    }

    .resultRain {
        order: 4;
    }

    .resultBuy {
        order: 6;
        display: flex;
        justify-content: center;
    }

    .resultTable {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: space-between;
        background: #028ea7;
        width: 100%;
    }

    .resultTable .item {
        flex: 1 1 50%;
        padding: 5px;
        background: #33afcc;
    }

    .btn {
        font-size: 10px;
    }

    .searchOrigin {
        flex: 0 0 100%;
    }

    .searchMaxPrice {
        flex: 0 0 100%;
    }

    .searchStartDate {
        flex: 0 0 100%;
    }

    .searchEndDate {
        flex: 0 0 100%;
    }

    .searchDirectFlight {
        flex: 0 0 50%;
    }

    .searchRoundTrip {
        flex: 0 0 50%;
    }

    .searchAdults {
        flex: 0 0 100%;

    }

    .searchTemperatureRange {
        flex: 0 0 100%;
        display: flex;
    }

    .searchNoRain {
        flex: 0 0 50%;
    }

    .searchSunSafe {
        flex: 0 0 50%;
    }

    .searchSubmit {
        flex: 0 0 50%;
    }

    .searchClear {
        flex: 0 0 50%;
    }
}


.autocomplete {
    color: black;
    font-family: "Josefin Sans";
}

.autocomplete:hover {
    color: #000;
}
element.style:hover {
    background-color: #028EA7;

}

.loader {
    border: 10px solid #FFE067; /* Light grey */
    border-top: 10px solid #02778B;
    border-bottom: 10px solid #02778B;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    text-align: center;
align-items: center;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#textloop {
    opacity: 1;
    transition: opacity 1s;
    width: 100%;
    font-family: Josefin Sans;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;

    align-items: center;
}

div#textloop.fade {
    opacity:0;
}

[id="datepicker"] {
    background: #fff url(../img/inputcalendar.png) 3% 50% no-repeat;
}

[id="datepicker"]::-webkit-inner-spin-button {
    display: none;
}

[id="datepicker"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
[id="adults"] {
    background: #fff url(../img/inputpassenger.png) 3% 50% no-repeat;
}

[id="adults"]::-webkit-inner-spin-button {
    display: none;
}

[id="adults"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}[id="priceMax"] {
    background: #fff url(../img/inputprice.png) 3% 50% no-repeat;
}

[id="priceMax"]::-webkit-inner-spin-button {
    display: none;
}

[id="priceMax"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

[name="origin"] {
    background: #fff url(../img/inputorigin.png) 3% 50% no-repeat;
}

[name="origin"]::-webkit-inner-spin-button {
    display: none;
}

[name="origin"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.slider {
    width: 100%;
    text-align: center;
}

input{
    text-indent: 10%;
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
}

.fa-calendar:before {
    content: url(../img/inputcalendar.png);
}

.fa-chevron-right:before {
    content: "\1F806";
}

.fa-chevron-left:before {
    content: "\1F804";
}